* {
	box-sizing: border-box;
	scrollbar-width: none;
	word-wrap: break-word;
}
html, body {
	// background: linear-gradient(287deg, rgba(255,255,255,1) 10%, rgba(185,221,125,1) 50%, rgba(238,238,238,1) 88%, rgba(185,221,125,1) 100%);
	background: linear-gradient(290deg, #B9DD7D30 20%, #7f7c7c30 40%, #14284E30 60%, #B9DD7D30 80% );
	font-family: 'Montserrat', sans-serif;
}


// chrome scroll-bar
::-webkit-scrollbar {
  width: 0;
}

.app-main {
  min-height: calc(var(--vh) * 80 );
}

.app-main-admin {
	display: flex;
}

.not-allowed {
	position: relative;
	min-height: calc(var(--vh) * 100);
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.form-check-input.is-valid ~ .form-check-label {
	color: $blue-spinal;
}
.form-check-input.is-valid:checked {
  background-color: $blue-spinal;
	border-color: $blue-spinal;
}
