<style>
  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--vh) * 90);
    overflow: hidden;
  }
  img {
    width: 120%;
    filter: grayscale(100);
  }
</style>
<div class="error-container">
  <img src="https://res.cloudinary.com/https-www-zebramusic-net/image/upload/v1633543126/backgrounds/404_GABI_np0tvc.svg" alt="zebra booking error page">
</div>
