<% minicards.each do |mc| %>
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg" style="background-image: url('<%= cl_image_path mc.photo.key %>')">
      <div class="card-image">
        <%#= cl_image_tag(mc.photo.key, class: 'bd-placeholder-img', :gravity=>"center", :width=>'100%', :height=>'100%') %>
      </div>
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <%= logo_icon_card('logo_sm.png') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>